@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.center-absolute {
  @apply top-[50%] translate-y-[-50%];
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
